# Protected Environment Variables
# Duplicate this file, remove ".dist" from the name

# Google API Key
# Example: IzaoDEGKMQTQyhZqiwfjRGHErfshTR45gG78DSSFG3
GOOGLE_KEY = default

# Cloudfront URL serving S3 File Cache
# Example: https://rhider460kdg6.cloudfront.net
AMAZON_KEY = default

# Optionally specify Photoshop version to look for
# Example: 2023
PS_VERSION = 2023

# Optionally enable error dialog boxes when performing actions in Photoshop
PS_ERROR_DIALOG = False

# Force the app to use headless console
HEADLESS = False

