repos:
-   repo: https://github.com/python-poetry/poetry
    rev: 1.7.0
    hooks:
    -   id: poetry-check
    -   id: poetry-lock
    -   id: poetry-export
        args: [ "--dev", "-f", "requirements.txt", "-o", "requirements.txt" ]