aggdraw==1.3.16 ; python_version >= "3.8" and python_version < "3.12"
altgraph==0.17.4 ; python_version >= "3.8" and python_version < "3.12"
annotated-types==0.6.0 ; python_version >= "3.8" and python_version < "3.12"
argcomplete==2.0.6 ; python_version >= "3.8" and python_version < "3.12"
asyncgui==0.5.5 ; python_version >= "3.8" and python_version < "3.12"
asynckivy==0.5.4 ; python_version >= "3.8" and python_version < "3.12"
attrs==23.2.0 ; python_version >= "3.8" and python_version < "3.12"
babel==2.14.0 ; python_version >= "3.8" and python_version < "3.12"
backoff==2.2.1 ; python_version >= "3.8" and python_version < "3.12"
bracex==2.4 ; python_version >= "3.8" and python_version < "3.12"
brotli==1.1.0 ; python_version >= "3.8" and python_version < "3.12" and platform_python_implementation == "CPython"
brotlicffi==1.1.0.0 ; python_version >= "3.8" and python_version < "3.12" and platform_python_implementation == "PyPy"
certifi==2024.2.2 ; python_version >= "3.8" and python_version < "3.12"
cffi==1.16.0 ; python_version >= "3.8" and python_version < "3.12" and platform_python_implementation == "PyPy"
cfgv==3.4.0 ; python_version >= "3.8" and python_version < "3.12"
charset-normalizer==2.1.1 ; python_version >= "3.8" and python_version < "3.12"
click==8.1.7 ; python_version >= "3.8" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.8" and python_version < "3.12"
commitizen==2.42.1 ; python_version >= "3.8" and python_version < "3.12"
comtypes==1.3.0 ; python_version >= "3.8" and python_version < "3.12"
contourpy==1.1.1 ; python_version >= "3.8" and python_version < "3.12"
csscompressor==0.9.5 ; python_version >= "3.8" and python_version < "3.12"
cycler==0.12.1 ; python_version >= "3.8" and python_version < "3.12"
decli==0.5.2 ; python_version >= "3.8" and python_version < "3.12"
distlib==0.3.8 ; python_version >= "3.8" and python_version < "3.12"
docopt==0.6.2 ; python_version >= "3.8" and python_version < "3.12"
docutils==0.20.1 ; python_version >= "3.8" and python_version < "3.12"
exceptiongroup==1.2.0 ; python_version >= "3.8" and python_version < "3.11"
filelock==3.13.1 ; python_version >= "3.8" and python_version < "3.12"
fonttools==4.48.1 ; python_version >= "3.8" and python_version < "3.12"
ghp-import==2.1.0 ; python_version >= "3.8" and python_version < "3.12"
gitdb==4.0.11 ; python_version >= "3.8" and python_version < "3.12"
gitpython==3.1.41 ; python_version >= "3.8" and python_version < "3.12"
griffe==0.40.1 ; python_version >= "3.8" and python_version < "3.12"
htmlmin2==0.1.13 ; python_version >= "3.8" and python_version < "3.12"
identify==2.5.34 ; python_version >= "3.8" and python_version < "3.12"
idna==3.6 ; python_version >= "3.8" and python_version < "3.12"
imageio==2.34.0 ; python_version >= "3.8" and python_version < "3.12"
importlib-metadata==7.0.1 ; python_version >= "3.8" and python_version < "3.10"
importlib-resources==6.1.1 ; python_version >= "3.8" and python_version < "3.10"
inflate64==1.0.0 ; python_version >= "3.8" and python_version < "3.12"
iniconfig==2.0.0 ; python_version >= "3.8" and python_version < "3.12"
jinja2==3.1.3 ; python_version >= "3.8" and python_version < "3.12"
jsmin==3.0.1 ; python_version >= "3.8" and python_version < "3.12"
kivy-deps-angle==0.4.0 ; python_version >= "3.8" and python_version < "3.12" and sys_platform == "win32"
kivy-deps-glew==0.3.1 ; python_version >= "3.8" and python_version < "3.12" and sys_platform == "win32"
kivy-deps-sdl2==0.7.0 ; python_version >= "3.8" and python_version < "3.12" and sys_platform == "win32"
kivy-garden==0.1.5 ; python_version >= "3.8" and python_version < "3.12"
kivy==2.3.0 ; python_version >= "3.8" and python_version < "3.12"
kiwisolver==1.4.5 ; python_version >= "3.8" and python_version < "3.12"
lazy-loader==0.3 ; python_version >= "3.8" and python_version < "3.12"
macholib==1.16.3 ; python_version >= "3.8" and python_version < "3.12" and sys_platform == "darwin"
markdown==3.5.2 ; python_version >= "3.8" and python_version < "3.12"
markupsafe==2.1.5 ; python_version >= "3.8" and python_version < "3.12"
matplotlib==3.7.4 ; python_version >= "3.8" and python_version < "3.12"
memory-profiler==0.61.0 ; python_version >= "3.8" and python_version < "3.12"
mergedeep==1.3.4 ; python_version >= "3.8" and python_version < "3.12"
mkdocs-autolinks-plugin==0.7.1 ; python_version >= "3.8" and python_version < "3.12"
mkdocs-autorefs==0.5.0 ; python_version >= "3.8" and python_version < "3.12"
mkdocs-gen-files==0.5.0 ; python_version >= "3.8" and python_version < "3.12"
mkdocs-git-revision-date-plugin==0.3.2 ; python_version >= "3.8" and python_version < "3.12"
mkdocs-include-markdown-plugin==6.0.4 ; python_version >= "3.8" and python_version < "3.12"
mkdocs-material-extensions==1.3.1 ; python_version >= "3.8" and python_version < "3.12"
mkdocs-material==9.5.9 ; python_version >= "3.8" and python_version < "3.12"
mkdocs-minify-plugin==0.7.2 ; python_version >= "3.8" and python_version < "3.12"
mkdocs-pymdownx-material-extras==2.5.6 ; python_version >= "3.8" and python_version < "3.12"
mkdocs-same-dir==0.1.3 ; python_version >= "3.8" and python_version < "3.12"
mkdocs==1.5.3 ; python_version >= "3.8" and python_version < "3.12"
mkdocstrings-python==1.8.0 ; python_version >= "3.8" and python_version < "3.12"
mkdocstrings==0.23.0 ; python_version >= "3.8" and python_version < "3.12"
mkdocstrings[python]==0.23.0 ; python_version >= "3.8" and python_version < "3.12"
multidict==6.0.5 ; python_version >= "3.8" and python_version < "3.12"
multivolumefile==0.2.3 ; python_version >= "3.8" and python_version < "3.12"
mypy-extensions==1.0.0 ; python_version >= "3.8" and python_version < "3.12"
mypy==1.8.0 ; python_version >= "3.8" and python_version < "3.12"
networkx==3.1 ; python_version >= "3.8" and python_version < "3.12"
nodeenv==1.8.0 ; python_version >= "3.8" and python_version < "3.12"
numpy==1.24.4 ; python_version >= "3.8" and python_version < "3.12"
packaging==23.2 ; python_version >= "3.8" and python_version < "3.12"
paginate==0.5.6 ; python_version >= "3.8" and python_version < "3.12"
pathspec==0.12.1 ; python_version >= "3.8" and python_version < "3.12"
pathvalidate==2.5.2 ; python_version >= "3.8" and python_version < "3.12"
pefile==2023.2.7 ; python_version >= "3.8" and python_version < "3.12" and sys_platform == "win32"
photoshop-python-api @ git+https://github.com/MrTeferi/photoshop-python-api.git@9eb4fe858c661da6f66961ba4c4976e22d8d4413 ; python_version >= "3.8" and python_version < "3.12"
pillow==9.5.0 ; python_version >= "3.8" and python_version < "3.12"
platformdirs==4.2.0 ; python_version >= "3.8" and python_version < "3.12"
pluggy==1.4.0 ; python_version >= "3.8" and python_version < "3.12"
pre-commit==3.5.0 ; python_version >= "3.8" and python_version < "3.12"
prompt-toolkit==3.0.43 ; python_version >= "3.8" and python_version < "3.12"
psd-tools==1.9.28 ; python_version >= "3.8" and python_version < "3.12"
psutil==5.9.8 ; python_version >= "3.8" and python_version < "3.12"
py7zr==0.20.8 ; python_version >= "3.8" and python_version < "3.12"
pybcj==1.0.2 ; python_version >= "3.8" and python_version < "3.12"
pyclean==2.7.6 ; python_version >= "3.8" and python_version < "3.12"
pycparser==2.21 ; python_version >= "3.8" and python_version < "3.12" and platform_python_implementation == "PyPy"
pycryptodomex==3.20.0 ; python_version >= "3.8" and python_version < "3.12"
pydantic-core==2.16.2 ; python_version >= "3.8" and python_version < "3.12"
pydantic==2.6.1 ; python_version >= "3.8" and python_version < "3.12"
pygments==2.17.2 ; python_version >= "3.8" and python_version < "3.12"
pyinstaller-hooks-contrib==2024.1 ; python_version >= "3.8" and python_version < "3.12"
pyinstaller==5.13.2 ; python_version >= "3.8" and python_version < "3.12"
pymdown-extensions==10.7 ; python_version >= "3.8" and python_version < "3.12"
pyparsing==3.1.1 ; python_version >= "3.8" and python_version < "3.12"
pypiwin32==223 ; python_version >= "3.8" and python_version < "3.12" and sys_platform == "win32"
pyppmd==1.1.0 ; python_version >= "3.8" and python_version < "3.12"
pytest==7.4.4 ; python_version >= "3.8" and python_version < "3.12"
python-dateutil==2.8.2 ; python_version >= "3.8" and python_version < "3.12"
python-dotenv==1.0.1 ; python_version >= "3.8" and python_version < "3.12"
pytz==2024.1 ; python_version >= "3.8" and python_version < "3.9"
pywavelets==1.4.1 ; python_version >= "3.8" and python_version < "3.12"
pywin32-ctypes==0.2.2 ; python_version >= "3.8" and python_version < "3.12" and sys_platform == "win32"
pywin32==306 ; python_version >= "3.8" and python_version < "3.12" and sys_platform == "win32"
pyyaml-env-tag==0.1 ; python_version >= "3.8" and python_version < "3.12"
pyyaml==6.0.1 ; python_version >= "3.8" and python_version < "3.12"
pyzstd==0.15.9 ; python_version >= "3.8" and python_version < "3.12"
questionary==1.10.0 ; python_version >= "3.8" and python_version < "3.12"
ratelimit==2.2.1 ; python_version >= "3.8" and python_version < "3.12"
regex==2023.12.25 ; python_version >= "3.8" and python_version < "3.12"
requests==2.31.0 ; python_version >= "3.8" and python_version < "3.12"
scikit-image==0.21.0 ; python_version >= "3.8" and python_version < "3.12"
scipy==1.10.1 ; python_version >= "3.8" and python_version < "3.12"
setuptools==67.8.0 ; python_version >= "3.8" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.8" and python_version < "3.12"
smmap==5.0.1 ; python_version >= "3.8" and python_version < "3.12"
termcolor==2.4.0 ; python_version >= "3.8" and python_version < "3.12"
texttable==1.7.0 ; python_version >= "3.8" and python_version < "3.12"
tifffile==2023.7.10 ; python_version >= "3.8" and python_version < "3.12"
tomli==2.0.1 ; python_version >= "3.8" and python_version < "3.12"
tomlkit==0.12.3 ; python_version >= "3.8" and python_version < "3.12"
tqdm==4.66.2 ; python_version >= "3.8" and python_version < "3.12"
typing-extensions==4.9.0 ; python_version >= "3.8" and python_version < "3.12"
urllib3==2.2.0 ; python_version >= "3.8" and python_version < "3.12"
virtualenv==20.25.0 ; python_version >= "3.8" and python_version < "3.12"
watchdog==4.0.0 ; python_version >= "3.8" and python_version < "3.12"
wcmatch==8.5 ; python_version >= "3.8" and python_version < "3.12"
wcwidth==0.2.13 ; python_version >= "3.8" and python_version < "3.12"
wheel==0.42.0 ; python_version >= "3.8" and python_version < "3.12"
yarl==1.9.4 ; python_version >= "3.8" and python_version < "3.12"
zipp==3.17.0 ; python_version >= "3.8" and python_version < "3.10"
